<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Охрана_квартир.Properties.Settings.Тур_фирмаConnectionString"
            connectionString="Data Source=sql;Initial Catalog=Тур_фирма;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Охрана_квартир.Properties.Settings.УП_ПМ_01_Неверов_ДСConnectionString"
            connectionString="Data Source=sql;Initial Catalog=УП_ПМ_01_Неверов_ДС;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>